# Project configuration
PROJECT_ROOT_DIR=/root/src

# AWS CLI Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_DEFAULT_OUTPUT=json

# AWS Terraform User credentials
AWS_IAM_TERRAFORM_USER_NAME=tfuser
AWS_IAM_TERRAFORM_POLICY_NAME=tfuserpolicy
AWS_IAM_TERRAFORM_POLICY_ARN=
AWS_IAM_TERRAFORM_ACCESS_KEY_ID=
AWS_IAM_TERRAFORM_ACCESS_KEY_SECRET=
AWS_S3_TERRAFORM_BACKEND_NAME=
